.new_group__container {
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    padding: 1.5%;
    border-radius: 4px;
}
.new_group {
    width: 33%;
    height: 100%;
}
.new_group__form {
    width: 100%;
    height: 65%;
    border-radius: 32px;
    border: 1px solid #eeeeee;
}
.new_group__email {
    width: 100%;
    height: 35%;
    border-radius: 32px;
    border: 1px solid #eeeeee;
    margin-top: 10px;
}
.new_group__users {
    height: 100%;
    width: 66%;
    margin: 0 10px 0 10px;
}
.new_group__users_search {
    width: 100%;
    height: 15%;
    margin-bottom:5px;
    border-radius: 16px;
    border: 2px solid #eeeeee;
}
.new_group__users_results {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 2px solid #eeeeee;
}
.new_group__users_found {
    width: 50%;
    height: 90%;
    margin: 0;
    padding: 1vw 0 0 0;
    border-left: 1px solid #5A7EFF;
}
.new_group__users_invite {
    padding: 1vw 0 0 0;
    width: 50%;
    height: 90%;
    border-radius: 16px;
    margin: 0 5px 0 0;
}
.new_group__confirmation {
    width: 96%;
    height: 10%;
    background-color: #2b2b2b;
    border-radius: 4px;
    margin-top: 5px;
    padding: 0 2% 0 2%;
}
.found_user {
    width: 90%;
    height: 2.5vw;
    margin: 2.5px 0 2.5px 0;
    list-style: none;
    text-indent: 10px;
    border-bottom: 1px solid #8b8b8b;
    animation: foundUserDisplay 500ms ease-in-out;
} 
@keyframes foundUserDisplay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.found_user:hover {
    border-color: #5A7EFF;
}
.found_user_name {
    color: black;
    font-weight: bold;
}
.found_user_nick {
    color: #6b6b6b;
}
.found_user_add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #5A7EFF;
    border: 0;
    border-radius: 4px;
}
.found_user_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: red;
    border: 0;
    border-radius: 4px;
}
.field_label{
    color: #2b2b2b;
    font-size: 2vmin;
}
@media(max-width : 768px) {
    .new_group__users {
        display: none;
    }
    .new_group {
        width: 100%;
    }
    .new_group__container {
        height: 100%;
    }
}