.main_container {
    width: 94%;
    height: 95%;
    animation : 500ms displayContainer  ease-in-out; 
    border-left:  1px solid #5a7eff;
    border-right:  1px solid #5a7eff;
}
.main_container.darkmode {
    background-color: #2b2b2b;
} 
@keyframes displayContainer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media(max-width : 768px) {
    .main_container  {
        width: 90%;
        height: 95%;
    }
}