.main_container {
    width: 100%;
    min-height: 100vh;
    animation : 500ms displayContainer  ease-in-out;   
    background-color: #eee;
}
.main_container.darkmode {
    background-color: #2b2b2b;
} 
@keyframes displayContainer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media(max-width : 768px) {
    .main_container  {
        width: 90%;
        height: 95%;
    }
}