.application_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.application_container.cyberpunk {
    display: flex;
    align-items: left;
    justify-content: left;
}
.application_header {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    background-color: #5A7EFF;
}

.application_header.cyberpunk {
    background-color: #f2e900;
    color: black;
    transition : all 250ms ease-in; 
}
.application_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    transition : all 250ms ease-in; 
}
.application_body.cyberpunk {
    background-color: #0b0b0b;
    transition : all 250ms ease-in; 
}
.application_body__component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    transition : all 250ms ease-in; 
    background-color: #2b2b2b;

}
.application_body__component.cyberpunk {
    background: url('./cyberpunk-5774101_1920.jpg'); 
    background-size: 100%;
    transition : all 250ms ease-in; 
    animation: infinite iluminateme 4s ease-in-out;
}
.application_foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: #eeeeee;
    transition : all 250ms ease-in; 
}
.application_foot.cyberpunk {
    background-color: #0b0b0b;
    transition : all 250ms ease-in; 
    
}

@media(max-width : 768px ) {
    .application_header {
        display: none;
    }
    .application_body__component {
        width: 100%;
        height: 100%;
    }
    .application_container {
        background-color: white;
    }
    .application_foot {
        display: none;
    }
}