.header_cnt {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    width: 99.5%;
    height: 100%;  
    color: white;
}
.header_cnt a {
    color : white;
    margin: 0 5px 0 5px;
}
.header_button {
    padding: 7.5px;
    width: 5%;
    background-color: #2b2b2b;
    color: white;
    border: 0px;
    border-radius: 32px;
 }