.register_container {
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.register_wrapper {
    background-color: white;
    width: 25%;
    height: 100%;
    z-index: 1001;
    border-color: white;
    transition : all 250ms ease-in; 
    box-shadow: 0 0 15px -12.5px;
    animation: translateData 1.25s;
}
.register_wrapper.cyberpunk {
    transition : all 250ms ease-in; 
    background-color: #DB0080;
    margin:  0 0 0 2.5%;
    border: 4px solid;
    border-color: #DB0080;
}
.register_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    animation : bright 1500ms ease-in-out; 
    width: 75%;
    height: 100%;
}
.register_side__cameo {
    color: #3b3b3b;
    font-size: 32px;
    margin: 0 5px 0 5px;
    animation:  infinite enlightMe 10s;
}
.register_side__phrase {
    margin: 0;
    color: transparent;
    font-size: 128px;
    animation:  infinite displayMe 5s;
}

.register {
    width: 100%;
    border-radius: 4px;
    border-radius: 16px;
    z-index: 1001;
}
.register_background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;            
    background-color: white;
    border-radius: 16px;
    transition : all 250ms ease-out; 
}
.register_background.cyberpunk {
    transition : all 250ms ease-in; 
    background-color: #DB0080;
}
.register_data {
    background-color: #5A7EFF;
    border-radius: 128px 16px 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 100%;
    transition : all 250ms ease-out ; 
    animation: translateBackground 1.5s;
    box-shadow: inset  0 10px 15px -15px;
}

.register_data.cyberpunk {
    transition : all 250ms ease-in; 
    background-color: #2b2b2b;
}
.field_error {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
}
.field_error__cnt {
    height: 20px;
}
.field_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5px;
} 
.field_label {
    font-size: 15px;
    color: white;
}
.register_error {
    color: red;
    margin: 5px 0 0 0;
    font-weight: bold;
}
.register_input , .register_select {
    padding: 4px;
    border-radius: 32px;
    box-shadow:   0 0 15px -5px;
    text-indent: 5px;
    outline: none;
    margin: 5px 0 5px 0;
    border: 2px solid transparent;
    transition : all 250ms ease-in; 
}


.register_data__field {
    width: 100%;
}
.register_data p{
    color : red;
    margin: 0;
    font-weight: bold;
}
.register_button {
    width: 25%;
    padding: 6px 0 6px 0;
    border-radius: 32px;
    border: none;
    background-color: #2b2b2b;
    color: white;
    transition : all 250ms ease-in-out;
}
.register_button:hover {
    background-color: red;
    transition : all 250ms ease-in-out;
    cursor: pointer;
}
.tooltip {
    position: relative;
    background-color: rebeccapurple;
}
 .tooltiptext {
    background-color: #3b3b3b;
    width: 125px;
    height: 35px;
    font-size: 12px;
    position: absolute;
    transform: translateY(-15px);
    border-radius: 32px 32px 32px 0px;
}
.register_input:hover .tooltip , .tooltiptext {
    visibility: visible;
}

@media(max-width : 768px) {
    .register_wrapper{
        width: 100%;
        height: 100%;
    }
    .register_background {
        height: 25%;
    }
    .register_data {
        height: 75%;
    }
    .field_container {
        width: 80%;
    }
    .field_error__cnt {
        height: 15px;
    }
    .field_error {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    .field_label {
        display: none;
    }
    .register_side {
        display: none;
    }
}
.register_to__login {
    color: #1b1b1b;
    margin-top: 5px;
    font-size: 14px;
}
@keyframes  enlightMe{
   0% {
       color: #3b3b3b;
   }
   50% {
       color: #5A7EFF;
   }
   100% {
       color: #3b3b3b;
   }
}
@keyframes displayMe {
    0% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    52.8% {
        color: #5A7EFF;
    }
    53% {
        color: #ffffff;
    }
    99.5%{
        color: #ffffff;
    }
    100% {
        color: transparent;
    }
}
@keyframes bright {
    0% {
        background-color: #1b1b1b;
    }
    100% {
        background-color: #2b2b2b;
    }
}
@keyframes translateBackground{
    0% {
        opacity: 0;
        transform: translateX(60%);
    }
    30%{
        opacity: 0;
        transform: translateX(60%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes translateData{
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    35%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}